.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    padding: 0px 10px;
    background-color: tomato;
}
.header-text{
    padding: 10px;
}
.buttonCase{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.buttonCase .btn{
    background-color: sienna;
    border-radius: 50px;
    box-shadow: 10px 5px 5px black;
    border: none;
    padding: 5px;
    transition: background-color 300ms ease-in-out;
}
.buttonCase .btn:hover{
    background-color: thistle;
    
}