.box-users{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    
}
.users-profile{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
    
    

}
.users-profile button{
    padding: 10px 20px;
    background-color: #03a9f4;
    border: none;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    color: white;
    font-size: 30px;
}
.users-profile button:hover{
    background-color: #f43648;
}
.users-profile p{
    display: flex;
    
    justify-content: center;
    padding: 10px 20px;
    flex-direction: column;
    border-radius: 30px;
    
    background-color: #03a9f4 ;
    
}
.users-data{
    margin-top: 20px;
 color: #fff;
}