.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.search{
    
    padding: 10px 10px;
    border-radius: 50px;
}
.btn-search{
    border: none;
    border-radius: 50px;
    background-color: gray;
    padding: 10px 10px;
    color: white;
}
.btn-search:hover,
.btn-search:focus{
    background-color: white;
    color: gray;
}
.gallary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.photo{
    width: 320px;
}
.second-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.li-two{
    display: flex;
    justify-content: center;
    align-items: center;
}